/*slider*/
.slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #000;
}
.slider .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0s;
    transition: 0.5s;
    z-index: 1;
    clip-path: circle(1px at center);
}
.slider input[type="radio"]:checked + .imgBx{
    z-index: 2;
    clip-path: circle(2500px at center);
    transition-delay: 0.55s;
}
.slider .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .imgBx .content{
    position: relative;
    text-align: center;
    max-width: 800px;
    z-index: 100;
}
.slider .imgBx .content h2{
    font-size: 4em;
    line-height: 1em;
    color: #fff;
    margin-bottom: 15px;
}
.slider .imgBx .content p{
    font-size: 1.1em;
    color: #fff;
}
.slider .imgBx .content a{
    position: relative;
    display: inline-block;
    background:  #fff;
    padding: 12px 25px;
    color: #111;
    font-size: 1.1em;
    font-weight: 530;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    
}
.slider .imgBx .content a:hover{
    background:  #ff0157;
    letter-spacing: 5px;
    transition: 1s;
}
@media (max-width: 500px) {
    .slider .imgBx .content h2{
        font-size: 3.5em;
    }
    .slider .imgBx .content p{
        font-size: 1.2em;
    }
    .slider .imgBx .content a{
        padding: 12px 25px;
        color: #111;
        font-size: 1.1em;
        margin-top: 30px;
    }
}



.slider input[type="radio"]{
    position: relative;
    z-index: 5;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
    width: 20px;
	height: 20px;
}
.slider input[type="radio"] {
    /* Сбрасываем предустановленные параметры */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    /* Определяем собственные параметры */
    width: 20px;
    height: 20px;
    background: #00000000;
    border: 3.5px solid #ff0157;
    border-radius: 20px;
}
.slider input[type="radio"]:checked {
    transition: 0.55s;
    background: #ff0157;
    box-shadow: 0px -10px 25px #ff0157;

}
.slider input[type="radio"]:hover {
    background: #ff0157;
    box-shadow: 0px -10px 25px #ff0157;
    transition: 0.55s;
    /*filter: blur(0.5px);*/
}

@media (max-width: 850px) {
    .slider input[type="radio"]{
        transition: 0.55s;
        width: 30px;
        height: 5px;
        background: #ff0157;
        /*border: 10px solid #ff0157;*/
    }
    .slider input[type="radio"]:checked {
        transition: 0.55s;
        box-shadow: 0px -10px 25px #ff0157;
        background: #fff;
        border: 3.5px solid #fff;
    }
}


/*slider btn*/
.btnslider{
    z-index: 2;
    color: aliceblue;
}

.left-rd{
    position: absolute;
    top: 60px;
    left: 0;
    width:calc(50% - 100px);
    height: 75%;
}

.right-rd{
    position: absolute;
    top: 60px;
    right: 0;
    width:calc(50% - 100px);
    height: 75%;
}

.right-rd span, .left-rd span{
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.left-rd img, .right-rd img{
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
}
.left-rd img{
    position: relative;
    transform: rotate(270deg);
    float: left;
    margin-left: 40px;
}
.right-rd img{
    position: relative;
    margin-right: 40px;
    float: right;
    transform: rotate(90deg);
}
.left-rd img:hover, .right-rd img:hover{
    background-image: url("/img/arrows/full-arrow-red.png");
}

@media (max-width: 850px) {
    .left-rd{
        position: absolute;
        top: 0px;
        height: 100%;
    }
    .right-rd{
        position: absolute;
        top: 0px;
        height: 100%;
    }
}
@media (max-width: 500px) {
    .left-rd img{
        position: relative;
        transform: rotate(270deg);
        float: left;
        margin-left: 10px;
    }
    .right-rd img{
        position: relative;
        margin-right: 10px;
        float: right;
        transform: rotate(90deg);
    }
}
